This XML file does not appear to have any style information associated with it. The document tree is shown below.
<categories>
<!--  banner_ad: optional element which displays an at the top level category screen  -->
<banner_ad sd_img="https://devtools.web.roku.com/videoplayer/images/missing.png" hd_img="https://devtools.web.roku.com/videoplayer/images/missing.png"/>
<category title="TV AO VIVO" description="CANAIS FECHANDOS" sd_img="https://pt.postermywall.com/index.php/art/template/6b965afc15e63006b2c53ad59b1cb2ff/tv-logo-design-template" hd_img="https://pt.postermywall.com/index.php/art/template/6b965afc15e63006b2c53ad59b1cb2ff/tv-logo-design-template">
<categoryLeaf title="The Mind" description="" feed="https://devtools.web.roku.com/videoplayer/xml/themind.xml"/>
<categoryLeaf title="Global Issues" description="" feed="https://devtools.web.roku.com/videoplayer/xml/globalissues.xml"/>
</category>
<category title="FILMES" description="TED Talks on Entertainment" sd_img="https://devtools.web.roku.com/videoplayer/images/TED_Entertainment.png" hd_img="https://devtools.web.roku.com/videoplayer/images/TED_Entertainment.png">
<categoryLeaf title="Music" description="" feed="https://devtools.web.roku.com/videoplayer/xml/music.xml"/>
<categoryLeaf title="Inspiration" description="" feed="https://devtools.web.roku.com/videoplayer/xml/inspiration.xml"/>
</category>
<category title="DESENHOS" description="TED Talks on Design" sd_img="https://devtools.web.roku.com/videoplayer/images/TED_Design.png" hd_img="https://devtools.web.roku.com/videoplayer/images/TED_Design.png">
<categoryLeaf title="Creativity" description="" feed="https://devtools.web.roku.com/videoplayer/xml/creativity.xml"/>
<categoryLeaf title="Design" description="" feed="https://devtools.web.roku.com/videoplayer/xml/design.xml"/>
</category>
</categories>